*{
    margin: 0;
    padding: 0;
}

.main-app{
  
    min-width: fit-content;
    min-height: fit-content;
    display: inline-flex;
}

.main{
    background-color: gainsboro;
}

.head-logo{
    margin: 0px;
    padding: 3px;
}