*{
    margin: 0;
    padding: 0;
}

.filter-logo{
    margin: 10px;
    margin-left: -50px;
}

hr{
    width: 60%;
    margin: auto;
    height: 2px;
    background-color: black;
    opacity: 0.4;
}

.filter-app{
    text-align: center;
    margin: 10px;
    max-width: fit-content;
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    
}

button{
    margin: 5px;
    font-size: 15px;
    padding: 5px;
    color: black;
    border: white;
    border-radius: 5px;
    background-color: palegreen;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
button:hover{
    background-color: limegreen;
    transform: scale(1.12);
    -webkit-transform: scale(1.09);
    -moz-transform: scale(1.12);
    -ms-transform: scale(1.12);
    -o-transform: scale(1.12);
}




.launch-year{
  margin: 5px;
  font-size: 12px;
}


.successfull-launch{
    padding: 5px;
    margin-left: 15px;
    width: max-content;
    height: max-content;
    /* margin: 10px; */
    font-size: 12px;
}

.successfull-land{
    padding: 5px;
    margin: auto;
    width: max-content;
    height: max-content;
    /* margin: 10px; */
    font-size: 12px;
}

.button-info{
    margin: auto;
    padding: 5px;
    width: max-content;
    height: max-content;
}

.filter-app:hover{
    transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
}

input{
    border: white;
    text-align: center;
}

.button-info{
    padding: 5px;
    margin: auto;
}